.bvg-vragen {
    background-color: var(--tertiary-100);
}

.bvg-btn {
    background-color: var(--secondary);
    color: white !important;
}

.bvg-btn:hover {
    background-color: var(--secondary-300) !important;
    color: white !important;
}



.bvg-btn:checked + .btn {
    background-color: var(--accent) !important;
    border: 9px solid var(--accent);
    color: black !important;
}

.antwoord-label {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px; /* Pas dit aan naar wens */
    text-align: center;
    white-space: normal; /* Sta meerregelige tekst toe */
}

.bvg-titel {
    color: var(--text-primary);
}

.bvg-btn-submit {
    background-color: var(--primary-300);
}

.bvg-btn-submit:hover {
    background-color: var(--primary-200) !important;
}

body {
    overflow-x: hidden;
}

.bvg-btn:disabled + .btn {
    background-color: var(--secondary) ;
    color: white ;
    cursor: not-allowed;
}


.bvg-btn-juist + .btn {
    background-color: green !important;
    color: white !important;
}

.bvg-btn-juist:checked + .btn {
    background-color: green !important;
    color: white !important;
}

.bvg-btn-fout + .btn {
    background-color: red !important;
    color: white !important;
}

.bvg-btn-fout:checked + .btn {
    background-color: red !important;
    color: white !important;
}
