.bvg-vragen {
    background-color: var(--tertiary-100);
}

.bvg-btn {
    background-color: var(--secondary);
    color: white !important;
}

.bvg-btn:hover {
    background-color: var(--secondary-300) !important;
    color: white !important;
}

.bvg-btn:checked + .btn {
    background-color: var(--accent) !important;
    border-color: var(--accent);
    color: black !important;
}

.antwoord-label {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px; /* Pas dit aan naar wens */
    text-align: center;
    white-space: normal; /* Sta meerregelige tekst toe */
}

.bvg-titel {
    color: var(--text-primary);
}

.bvg-btn-submit {
    background-color: var(--primary-300);
}

.bvg-btn-submit:hover {
    background-color: var(--primary-200) !important;
}

body {
    overflow-x: hidden;
}

.bvg-btn-fout {
    background-color: red; !important;
    color: white !important;
}

.bvg-btn-juist {
    background-color: green; !important;
    color: white !important;
}
