:root {

    --primary: #021F59;
    --secondary: #3B67BF;
    --tertiary: #8DA693;
    --accent: #F2E85C;
    --defaultbg: #F2F2F2;

    --text-primary: #222831;
    --text-secondary: #4E5A65;
    --text-on-dark: #EDEDED;




    /* primary colors */
    --primary-25: #e6e9ee;
    --primary-50: #ccd2de;
    --primary-100: #9aa5bd;
    --primary-200: #67799b;
    --primary-300: #354c7a;
    --primary-400: #021f59;
    --primary-500: #021c50;
    --primary-600: #021947;
    --primary-700: #01163e;
    --primary-800: #011335;
    --primary-900: #01102d;
    --primary-950: #010c24;

    /* secondary colors */
    --secondary-25: #ebf0f9;
    --secondary-50: #d8e1f2;
    --secondary-100: #b1c2e5;
    --secondary-200: #89a4d9;
    --secondary-300: #6285cc;
    --secondary-400: #3b67bf;
    --secondary-500: #355dac;
    --secondary-600: #2f5299;
    --secondary-700: #294886;
    --secondary-800: #233e73;
    --secondary-900: #1e3460;
    --secondary-950: #18294c;

    /* tertiary colors */
    --tertiary-25: #f4f6f4;
    --tertiary-50: #e8ede9;
    --tertiary-100: #d1dbd4;
    --tertiary-200: #bbcabe;
    --tertiary-300: #a4b8a9;
    --tertiary-400: #8da693;
    --tertiary-500: #7f9584;
    --tertiary-600: #718576;
    --tertiary-700: #637467;
    --tertiary-800: #556458;
    --tertiary-900: #47534a;
    --tertiary-950: #38423b;

    /* accent colors */
    --accent-25: #fefdef;
    --accent-50: #fcfade;
    --accent-100: #faf6be;
    --accent-200: #f7f19d;
    --accent-300: #f5ed7d;
    --accent-400: #f2e85c;
    --accent-500: #dad153;
    --accent-600: #c2ba4a;
    --accent-700: #a9a240;
    --accent-800: #918b37;
    --accent-900: #79742e;
    --accent-950: #615d25;

}